# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.env

# Django-related files
db.sqlite3
/media/
/staticfiles/
/static/
*.log
*.pot
*.py[cod]
*.swp

# Ignore the migrations folders
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.log

# Virtual environment
venv/
env/
.venv/
.venv/*
env/
env.bak/
allesgut_env/
allesgut_env.bak/


# OS-related files
.DS_Store
Thumbs.db

# IDE-related files
.vscode/
.idea/

# Git files
*.orig

# Ignore Python bytecode compiled files
*.pyo
*.pyc

# Ignore coverage, testing reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover

# Ignore Docker-related files (if using Docker)
docker-compose.override.yml
docker-compose*.yml

# Ignore Node-related files (if using npm/yarn)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore pipenv & poetry lockfiles (if using them)
Pipfile.lock
poetry.lock

# Ignore local SQLite database (if using SQLite)
db.sqlite3

.env



**/migrations/
**/**/migrations